{% extends 'base.html.twig' %}

{% block title %}This is the form's Template!{% endblock %}

{% block body %}
    <form class="mt-5">
        <div class="row">
            <div class="form-group col-3 offset-4">
                {{ form_row(formPeople.email,{'label':'User email address'}) }}
            </div>
        </div>
        <div class="row"><p></p></div>
        <div class="row"><p></p></div>
        <div class="row">
            <div class="form-group col-3 offset-4">
                {{ form_row(formPeople.roles,{'label':'User role(s)'}) }}
            </div>
        </div>
        <div class="row"><p></p></div>
        <div class="row"><p></p></div>
        <button class="btn btn-primary text-center col-3 offset-4" type="submit">Submit</button>
    </form>
{% endblock %}
