{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!{% endblock %}

{% block body %}
    <div class="container card mt-5 w-50">
        <div class="row">
            {# <img src="https://www.thispersondoesnotexist.com/image" class="card-img-top h-25"> #}
            <div class="card-body text-center">
                <h5 class="card-title">Person's Information :</h5>
                <p class="card-text text-primary">Title : {{ people.title }}</p>
                <p class="card-text text-primary">FirstName : {{ people.firstName }}</p>
                <p class="card-text text-primary">LatName : {{ people.lastName }}</p>
                <p class="card-text text-primary">Age : {{ people.age }}</p>
            </div>
        </div>
    </div>
{% endblock %}
