{% extends 'base.html.twig' %}

{% block title %}Hello FormPeopleController!{% endblock %}

{% block body %}
    {{ form_start(formPeople) }}
    {{ form_widget(formPeople) }}
    <button type="submit">click me!</button>
    {{ form_end(formPeople) }}
{% endblock %}
