<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<h1>{% block body %} Your lucky number is {{ number }} {% endblock %}</h1>
<a href="{{ path('hello_bilal') }}">to bilal page</a>
</body>
</html>
